body {
  font-family: "Open Sans", sans-serif;
  background-color: #46466a;
  padding: 3%;
}
.d-f {
  display: flex;
}
.d-f-c {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
